<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{193,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,186}}</string>
                <key>sourceSize</key>
                <string>{193,186}</string>
            </dict>
            <key>cat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,200},{30,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,69}}</string>
                <key>sourceSize</key>
                <string>{30,69}</string>
            </dict>
            <key>cat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,118},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,92}}</string>
                <key>sourceSize</key>
                <string>{64,94}</string>
            </dict>
            <key>cat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,271},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>couple01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{160,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>couple02.png</key>
                        <dict>
                            <key>frame</key>
                            <string>{{198,190},{148,157}}</string>
                            <key>offset</key>
                            <string>{-5,-2}</string>
                            <key>rotated</key>
                            <false/>
                            <key>sourceColorRect</key>
                            <string>{{3,4},{148,157}}</string>
                            <key>sourceSize</key>
                            <string>{164,161}</string>
                        </dict>
            <key>couple03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{160,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>couple04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{148,157}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{148,157}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>couple05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{160,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>couple06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{160,161}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{160,161}}</string>
                <key>sourceSize</key>
                <string>{164,161}</string>
            </dict>
            <key>dancingCat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,60},{88,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,56}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>dancingCat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,2},{88,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,56}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,162}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{222,162}}</string>
                <key>sourceSize</key>
                <string>{234,164}</string>
            </dict>
            <key>option_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,280},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>option_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,212},{120,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,66}</string>
            </dict>
            <key>start_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,411},{118,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,61}}</string>
                <key>sourceSize</key>
                <string>{118,61}</string>
            </dict>
            <key>start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,348},{118,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,61}}</string>
                <key>sourceSize</key>
                <string>{118,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainmenu_atlas.png</string>
            <key>size</key>
            <string>{511,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1effdcc119b20e4f605482c701032a90$</string>
            <key>textureFileName</key>
            <string>mainmenu_atlas.png</string>
        </dict>
    </dict>
</plist>
