<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cryingCat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,181},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,175},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,123},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>cryingCat08.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,260},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{89,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,50}}</string>
                <key>sourceSize</key>
                <string>{89,50}</string>
            </dict>
            <key>sister_crying01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,179},{120,141}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,35},{120,141}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_crying02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{164,143}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{164,143}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_hands01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,322},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>sister_hands02.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,322},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>sister_hands03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,322},{41,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,24}}</string>
                <key>sourceSize</key>
                <string>{41,24}</string>
            </dict>
            <key>sister_shock01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{82,135}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{82,135}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock02.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,348},{82,139}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{82,139}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{82,135}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{82,135}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,348},{82,139}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,36},{82,139}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock05.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,54},{76,119}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,56},{76,119}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,175}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,175}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{106,175}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,175}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_shock08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,175}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{106,175}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_stand01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{98,119}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{98,119}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
            <key>sister_stand02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,139},{98,119}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,56},{98,119}}</string>
                <key>sourceSize</key>
                <string>{164,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_atlas.png</string>
            <key>size</key>
            <string>{493,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c131859ac774bed9b7d345c7f31cc5e$</string>
            <key>textureFileName</key>
            <string>ui_atlas.png</string>
        </dict>
    </dict>
</plist>
